<div class="main-color topbar-secondary">
  <div class="container padding-top-double padding-bottom-double">
    <h2>Watchlists</h2>
  </div>
</div>

<div class="container has-secondary-topbar padding-top-double padding-bottom-double">
  <div class="row">
    Detail page!
  </div>
</div>
